# Copy to apps/web/.env.production on server
NEXT_PUBLIC_SUPABASE_URL=https://gaswjuvyzliislqrljof.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_SA0BDjBy4ow7haaZzX7Zlg_t0wFvO0Y
NEXT_PUBLIC_SITE_URL=https://marvisociety.com
SUPABASE_SERVICE_ROLE_KEY=
