<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MARVI_API_MODE</key>
	<string>$(MARVI_API_MODE)</string>
	<key>MARVI_SUPABASE_URL</key>
	<string>$(MARVI_SUPABASE_URL)</string>
	<key>MARVI_SUPABASE_ANON_KEY</key>
	<string>$(MARVI_SUPABASE_ANON_KEY)</string>
</dict>
</plist>
